.about-page-statement {
  margin: 0;
  padding-top: 5rem;
}

.about-page-words {
  opacity: 1;
}

.about-page-main {
  background-size: 50vh;
  background-position: left -10vw bottom -10vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  // background-color: #fff0c9;
  background-color: #d6d6d6;
}
