.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  background-color: $primary-mustard;
  padding: 1.2rem 0;
  color: $primary-black;

  .logo {
    margin: 0;
    padding-left: 1.5rem;
  }

  .fa-user {
    padding-top: 0.6rem;
    padding-right: 1.5rem;
    font-size: 1.2rem;
  }
}
